
<body>
    <h1>Cosi 166 Capstone</h1>
    <br>
    <br>
    <h3>Click the button, you could see the infomation</h3>
    <hr>
    
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><button type="button" class="btn btn-warning"><%= link_to "Course Info", Course%></button></div>
                <div class="col-sm-3"><button type="button" class="btn btn-warning"><%= link_to "Instructor Info", Instructor%></button></div>
                <div class="col-sm-3"><button type="button" class="btn btn-warning"><%= link_to "Subject Info", Subject%></button></div>
                <div class="col-sm-3"><button type="button" class="btn btn-warning"><%= link_to "Search", 'search'%></button></div>
            </div>
        </div>

        <br>
        <hr>
        <% if @user %>
            <%= button_to "Logout", logout_path, method: :delete %>
        <% end %>
</body>