<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subjectId %>
    <%= form.text_field :subjectId %>
  </div>

  <div class="field">
    <%= form.label :subjectName %>
    <%= form.text_field :subjectName %>
  </div>

  <div class="field">
    <%= form.label :segmentId %>
    <%= form.text_field :segmentId %>
  </div>

  <div class="field">
    <%= form.label :segmentName %>
    <%= form.text_field :segmentName %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
